<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.simon.community.dao.mybatis.DiscussPostMapper">
  <resultMap id="BaseResultMap" type="com.simon.community.pojo.DiscussPost">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="comment_count" jdbcType="INTEGER" property="commentCount" />
    <result column="score" jdbcType="DOUBLE" property="score" />
  </resultMap>
  <sql id="Base_DiscussPost_List">
    id, user_id, title, content, type, status, create_time, comment_count, score
  </sql>
    <insert id="insertDiscussPost" keyProperty="id">
      insert into discuss_post
        values(null,#{userId},#{title},#{content},#{type},#{status},#{createTime},#{commentCount},#{score});
    </insert>

  <!--拉黑的帖子不会去显示,并且根据是否置顶贴和发布时间降序排列-->
  <select id="selectDiscussPosts" resultType="com.simon.community.pojo.DiscussPost">
    select <include refid="Base_DiscussPost_List"></include> from discuss_post
        <where>
        <if test="userId!=0">and user_id=#{userId}</if>
            and status!=2
        </where>
        order by type desc,create_time desc
        limit #{offset},#{limit}
  </select>
  <select id="selectDiscussPostsCount" resultType="Integer">
    select count(id) from discuss_post
    <where>
      <if test="userId!=0">and user_id=#{userId}</if>
      and status!=2
    </where>
  </select>
    <select id="selectDiscussPostById" resultType="com.simon.community.pojo.DiscussPost">
      select <include refid="Base_DiscussPost_List"></include>
          from discuss_post where id=#{id};
    </select>

    <update id="updatePostCommentCount">
      update discuss_post
      set comment_count=#{commentCount}
      where id=#{id}
    </update>
    <update id="updateStatus">
      update discuss_post
      set status=#{status}
      where id=#{id}
    </update>
  <update id="updateType">
    update discuss_post
    set type=#{type}
    where id=#{id}
  </update>


</mapper>